PORT=3100
HOST=0.0.0.0
NODE_ENV=development

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require

SINAPI_API_KEY=troque-esta-chave
SINAPI_SYNC_TOKEN=troque-este-token

SINAPI_CAIXA_BASE_URL=https://www.caixa.gov.br/poder-publico/modernizacao-gestao/sinapi/Paginas/default.aspx
SINAPI_PUBLICATION_CHECK_START_DAY=5
SINAPI_PUBLICATION_CHECK_END_DAY=15
SINAPI_DEFAULT_UF=PE
SINAPI_DEFAULT_REGIME=NAO_DESONERADO
